@model Product

<div>
    <h2>@Model.Name</h2>
    <p>@Model.Price</p>
    <a class="btn btn-primary" asp-controller="Product" asp-action="Get" asp-route-id="@Model.Id">
        <i class="fa-solid fa-arrow-right"></i>
        Get Details
        </a>
</div>