@page "/getintouch"

<div class="text-center my-5 ">
    <div class="display-6 border-bottom">Contact</div>
    <div class="lead mt-5">
        <i class="fa fa-phone bg-secondary text-white p-3  rounded-5 my-3"></i>
        <p>
            BTK
        </p>
        <i class="fa-solid fa-address-book bg-secondary text-white p-3  rounded-5 my-3"></i>
        <p>
            ADDRESS
        </p>

        <i class="fa-solid fa-envelope bg-secondary text-white p-3  rounded-5 my-3"></i>
        <p>
            SUPPORT
        </p>
    </div>
</div>